<h1>Text</h1>
<h1>{{ section.settings.liquid-ref }}</h1>

<h1>Checkbox</h1>
{% if section.settings.liquid-checkbox == true %}
    <h2>checkbox is checked</h2>

      {% else %}} <h2>checkbox not is checked</h2>

{%  endif %}

<h1>Number</h1>
{% if section.settings.liquid-number > 0 %}
{{section.settings.liquid-number}}
{% endif %}

<br>

<h1>Radio</h1>
{% if section.settings.liquid-radio == "option-1" %}
    Option 1 Selected
    {% else %}
    Option 2 Selected
     {% endif %}
{%- comment -%} {{ section.settings.liquid-radio }} {%- endcomment -%}

<br>

<h1>Range</h1>
{{ section.settings.liquid-range}}

<h1>Select</h1>
{{ section.settings.liquid-select}}

<h1>Text Area</h1>
{{ section.settings.liquid-textarea}}

{%- schema -%}
{
    "name":"Liquid Reference",
    "settings": [
        {
            "id":"liquid-ref",
            "type":"text",
            "label":"A Reference for Shopify Liquid"
        },
        {
            "id":"liquid-checkbox",
            "type":"checkbox",
            "label":"A checkbox in liquid"
        },
        {
            "id":"liquid-number",
            "type":"number",
            "label":"Add a Number"
        },
        {
            "id":"liquid-radio",
            "type":"radio",
            "label":"Add a radio button",
            "options":[
                {
                    "value":"option-1",
                    "label":"Option 1"
                },
                {
                    "value":"option-2",
                    "label":"Option 2"
                }
            ]
        },
        {
            "id":"liquid-range",
            "type":"range",
            "label":"Range",
            "min":3,
            "max":12,
            "step":1,
            "unit":"mtr",
            "default":3   
        },
        {
            "id":"liquid-select",
            "type":"select",
            "label":"Select",
            "options":[
                {
                    "value":"Option 1",
                    "label":"Option 1"
                },
                {
                    "value":"Option 2",
                    "label":"Option 2"
                },
                {
                    "value":"Option 3",
                    "label":"Option 3"
                }
            ]
            
        },
        {
            "id":"liquid-textarea",
            "type":"textarea",
            "label":"Text Area"
            
        }
    ],
    "presets":[
        {
            "name":"Liquid Reference",
            "category":"Reference"
        }
    ]
}
{%- endschema -%}